In [112]:
import requests
import pandas as pd

In [113]:
df = pd.read_json('https://official-joke-api.appspot.com/jokes/ten')
print(df.shape)
#df = pd.DataFrame()
df.head()

(10, 4)

,id,type,setup,punchline
0,340,general,Why did the half blind man fall in the well?,Because he couldn't see that well!
1,152,general,What’s 50 Cent’s name in Zimbabwe?,200 Dollars.
2,20,general,What do you call a laughing motorcycle?,A Yamahahahaha.
3,361,general,Why do crabs never give to charity?,Because they’re shellfish.
4,327,general,Why did Sweden start painting barcodes on the ...,So they could Scandinavian.

In [114]:
df.describe()

               id
count   10.000000
mean   228.600000
std    128.892893
min     20.000000
25%    134.000000
50%    277.500000
75%    336.750000
max    361.000000

In [115]:
df.shape

(10, 4)

In [116]:
df[df['type'] == 'general']

,id,type,setup,punchline
0,340,general,Why did the half blind man fall in the well?,Because he couldn't see that well!
1,152,general,What’s 50 Cent’s name in Zimbabwe?,200 Dollars.
2,20,general,What do you call a laughing motorcycle?,A Yamahahahaha.
3,361,general,Why do crabs never give to charity?,Because they’re shellfish.
4,327,general,Why did Sweden start painting barcodes on the ...,So they could Scandinavian.
5,53,general,How do you make holy water?,You boil the hell out of it
6,282,general,What's red and bad for your teeth?,A Brick.
7,128,general,How do you know if there’s an elephant under y...,Your head hits the ceiling!
8,273,general,What musical instrument is found in the bathroom?,A tuba toothpaste.
9,350,general,Why did the tree go to the dentist?,It needed a root canal.

In [117]:
df[['setup', 'punchline']].head()

,setup,punchline
0,Why did the half blind man fall in the well?,Because he couldn't see that well!
1,What’s 50 Cent’s name in Zimbabwe?,200 Dollars.
2,What do you call a laughing motorcycle?,A Yamahahahaha.
3,Why do crabs never give to charity?,Because they’re shellfish.
4,Why did Sweden start painting barcodes on the ...,So they could Scandinavian.

In [118]:
df.iloc[4:10]

,id,type,setup,punchline
4,327,general,Why did Sweden start painting barcodes on the ...,So they could Scandinavian.
5,53,general,How do you make holy water?,You boil the hell out of it
6,282,general,What's red and bad for your teeth?,A Brick.
7,128,general,How do you know if there’s an elephant under y...,Your head hits the ceiling!
8,273,general,What musical instrument is found in the bathroom?,A tuba toothpaste.
9,350,general,Why did the tree go to the dentist?,It needed a root canal.